 /*thead{
    font-size: 25px;
    color: blue;
}

table,
tr,
th,
td{
    border: 10px red solid;
}

td{
    width: 200px;
    height: 25px;
}

.one{
    width: 30px;
} */

/* tr,
td,
th{
    width: 250px;
    font-size: 50px;
    height: 30px;
}

table{
    width: 100%;
}

.ok{
    background-color: aqua;
} */